.item-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 8px;
  width: 240px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  overflow: hidden;
  &__content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__nome {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  &__descricao {
    font-size: 12px;
    margin-bottom: 8px;
  }
  &__preco {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  &__imagem {
    width: 100%;
    aspect-ratio: 1/1;
  }
  &__acoes {
    margin-top: auto;
  }
}
